# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lock files (оставь, если не хочешь коммитить их)
# package-lock.json
# backend/package-lock.json
# frontend/package-lock.json

# Cypress
cypress/videos/
cypress/screenshots/

# Logs
logs/
*.log
*.log.*

# dotenv
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Build outputs
dist/
build/
coverage/

# Docker build artifacts
**/.container-build/